.block {
    padding-top: 100px;
    padding-left: 300px;
    width: 600px;
}

.header {
    font-size: 35px;
}

.btn {
    background-color: rgb(30, 144, 255);
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px;
    border: none;
    color: white;
}

p {
    font-size: 15px;
}